<%- include("../partials/header") %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">EthnicMarket</p>
      <div class="list-group">
        <li class="list-group-item active"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card" style="">
        <img class="card-img-top img-responsive" src="<%= market.image %>" alt="Card image cap" />
        <div class="card-body">
          <div class="caption">
            <h4><a href=""><%= market.name %></a></h4>
          </div>
          <p class="card-text">
            <%=market.description %>
          </p>
          <p>
            <em>Submitted by <%=market.author.username %></em>
          </p>

          <% if (currentUser && market.author.id.equals(currentUser._id)){ %>
          <a class="btn btn-warning" href="/market/<%=market._id%>/edit">Edit</a>
          <form class="delete-form" action="/market/<%=market._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
          <% };%>
        </div>
      </div>

      <div class="well">
        <div class="text-right">
          <p>
            <a class="btn btn-success" href="/market/<%=market._id%>/comments/new"
              >Add new comment</a
            >
          </p>
        </div>

        <% market.comments.forEach(function(comment){ %>
        <div class="row">
          <div class="col-md-12">
            <div class="comment">
              <strong><%= comment.author.username%></strong>
              <span class="float-right"> <%= comment.created%></span>
              <p><%= comment.text%></p>

              <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
              <a
                class="btn btn-warning"
                href="/market/<%= market._id%>/comments/<%= comment._id%>/edit"
                >Edit</a
              >
              <form
                class="delete-form"
                action="/market/<%= market._id%>/comments/<%= comment._id%>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-danger">Delete</button>
              </form>
              <% };%>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<br />
<%- include("../partials/footer") %>
